
h1#header{
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

label.form-label{
    color: #FFFFFF;
    font-weight: bold;
}

.container{
    width: 1300px;
    height: 250px;
    padding: 35px 15px 5px;
}

#countryInput, #filterInput, #typeInput {
    width: 400px;
}

.container::before,
.container::after{
    content: "";
    display: table;
    clear: both;
}

.container div {
    max-width: 100%;
}

#box1 {
    margin-left: 30px;
    margin-right: 30px;
}
#box2 {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
.leaflet-container {
    border: #fff;
    width: 700px;
    height: 500px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: 50px;
    border-style: solid;
}

.float-container {
    /* border: 3px solid #fff; */
    padding: 20px;
  }
  
  .float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px;
  }
  
/* .form-container {
    width: 800px;
} */